@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
*{
  font-family: "Roboto", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper-wrapper{
  padding: 40px 0px;
}

